#root {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
}

.Container {
  width: 100%;
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.MainContainer {
  width: 100%;
  padding: 0px 15% !important;
  z-index: 999;
  height: 100vh;
}
.ElementsContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
