@media {
  @import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
}

:root {
  font-family: Nunito, sans-serif;
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: Nunito, sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: rgb(49 62 81);
    background-color: rgb(236, 236, 236);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: rgb(236, 236, 236);
  }
}
#fondo {
  background-color: rgb(49 62 81);
}

.Back {
  position: fixed;
  left: 0px;
  z-index: 2;
}
